@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}


.competition-bg-image {
    height: 350px;
    background: linear-gradient(rgba(4, 15, 40, .7), rgba(4, 15, 40, .7)), url(../images/theCompetition.png) center center no-repeat;
}

.centered-element-parent {
    display: flex;
    align-items: center;
}

.bg-top-bar-color {
    --tw-bg-opacity: 1;
    background-color: rgb(5 13 33 / var(--tw-bg-opacity));
}

.bg-body-color {
    --tw-bg-opacity: 1;
    background-color: rgb(24 26 27 / var(--tw-bg-opacity));
}

.scroller {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.scroller.active {
    opacity: 1;
    transform: translateY(0);
}

.down-arrow {
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out;
}

.down-arrow.active {
    animation: fadeOut 0.5s; 
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* transition: opacity 0.5s ease-in-out; */
}

.custom-dark-red-ring {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(129 0 0 / var(--tw-ring-opacity));
}